/* Global Styles 
--------------------------------------------------*/
body {
    background: rgb(199, 197, 194);
    color: rgb(46, 39, 40);
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
}

img {
    width: 75px;
    padding: 15px;
}

img:hover {
    width: 90px;
    padding: 0;
}

/* Header 
--------------------------------------------------*/
header {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 10px 100px;
    align-items: center;
}

h1 {
    background: linear-gradient(rgb(207, 115, 115), #000);
    color: rgb(182, 138, 138);
    border-radius: 6px;
    font-size:3rem;
    text-decoration: underline;
}

.head-icons {
    font-family: 'Cinzel', serif;
}

.head-icons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(199, 197, 194);
    align-items: center;
    justify-content: center;
}

.contact {
    background-color: rgb(139, 137, 133);
    border: 2px double rgb(77, 75, 74);
    border-radius: 3px;
    text-align: center;
    grid-column: 1 / -1;
    margin: auto;
}



/* Grid Container 
--------------------------------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Summary
--------------------------------------------------*/
#summary-sect {
    background: linear-gradient(to right bottom, rgb(165, 106, 106), rgba(255, 255, 255, 0.897));
    color: rgb(19, 17, 17);
    padding: 15px;
    border-top-left-radius: 6px;
}

#summary-sect>img {
    float: right;
}

/* Technical Skills 
--------------------------------------------------*/
#technical-sect {
    background: linear-gradient(to left bottom, rgb(155, 153, 168), rgba(255, 255, 255, 0.897));
    padding: 15px;
    border-top-right-radius: 6px;
}

#technical-sect>img {
    float: right;
}

/* Additional Skills
--------------------------------------------------*/
#additional-sect {
    background: linear-gradient(to right top, rgb(155, 153, 168), rgba(255, 255, 255, 0.897));
    padding: 15px;
}

#additional-sect>img {
    float: right;
}

/*Projects
--------------------------------------------------*/
#project-sect {
    background: linear-gradient(to left top, rgb(165, 106, 106), rgba(255, 255, 255, 0.897));
    padding: 15px;
}

.project-link {
    color: black;
}

.project-link:hover {
    font-size: larger;
    padding: 0;
}

#project-sect>img {
    float: right;
}

/* Education 
--------------------------------------------------*/
#education-sect { 
    padding: 15px;
    max-width: 100%;
    color: black;
    grid-column: 1/ -1;
}

.cert-link {
    color: black;
}

.cert-link:hover {
    font-size: larger;
    padding: 0;
}
#education-sect>img {
    float: right;
}

/* Experience
--------------------------------------------------*/
#experience-sect {
    background: linear-gradient(to right bottom, rgb(165, 106, 106), rgba(255, 255, 255, 0.897));
    color: rgb(46, 39, 40);
    padding: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    grid-column: 1/ -1;
}

#experience-sect>img {
    float: right;
}


/* Footer
--------------------------------------------------*/
footer {
    font-size: xx-small;
    text-align: center;
    margin: 20px;
}

.reference-btn {
    background: linear-gradient(rgb(207, 115, 115), #000);
    color: rgb(179, 157, 157);
    font-size: 1.25rem;
    padding: 20px;
    border: 2px solid black;
    border-radius: 6px;
}
.credits {
    margin-left: 7px;
    padding: 10px;
    float: right;
    text-align: right;
}
.reference-btn:hover {
    background: rgb(167, 128, 128);
    color: black;
}
.dummy-border {
    border-top: 20px dotted #851d3a;
    padding: 30px;
    margin: auto;
    width: 400px;

}

/* References Page
------------------------------------------------- */
.container h1 {
    font-size: 50pt;
    font-family: 'Cinzel', serif;
    margin: 10px 200px;
}

body>.container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    text-align: center;
    font-size: large;
}

.container a {
    color: black;
    padding: 15px;
}

.people {
    margin: 10px 300px;
}

.container .go-back-btn {
    background: linear-gradient(rgb(207, 115, 115), #000);
    color: rgb(179, 157, 157);
    font-size: 1.25rem;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 6px;
}

.go-back-btn:hover {
    background: rgb(167, 128, 128);
    color: black;
}

#ph {
    border-bottom-style: none;
}

/* Media queries when used for smaller devices
--------------------------------------------------*/

@media screen and (max-width: 800px) {
    header {
        display: flex;
        position: relative;
        align-content: center;
        justify-content: center;
    }
    h1 {
        font-size: 2rem;
        width: 250px; 
        margin: 0;
    }
    .grid-container {
        display: inline-block;
    }
    .container {
        margin: auto;
    }
    .people {
        margin: auto;
    }
    .dummy-border {
        width: 250px;
    }
    .head-icons-grid {
        align-content: space-around;
        justify-content: center;
    }
    
}
